body {
  font-family: "Google Sans", sans-serif;
}


#botton_prueba {
  font-size: 22px;
  
}

/* Listas con scroll para que no crezcan infinito */
.list-group {
  max-height: 260px;
  overflow: auto;
}